* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Tela de cadastro */

.cadastro-login {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container-cadastro {
    background-color: #fff;
    width: 100%;
    max-width: 450px;
    border: 1.5px solid #333;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr; 
    overflow: hidden;
    box-shadow: 0 10px 25px #00000018;
}

.lado-esquerdo {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1.5px solid #000000; 
}

.logo {
    margin-bottom: 20px;
    align-self: center;
    text-align: center;
}

.logo-tipo {
    width: 120px;
}

.lado-esquerdo h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.lado-esquerdo p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.lado-direito {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lado-direito h2 {
    margin-bottom: 30px;
}

.rotulo-form {
    display: none;
}

.form-cadastro {
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.campo-form input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.2s;
    color: grey;
}

.botao-tipo1{
    background: none;
    border: 2px solid #000000;
    padding: 10px 30px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    margin-top: 10px;
    align-self: center;
}

#botao-entrar {
    margin-top: 35px;
}

.botao-tipo1:hover {
    color: #ffffff;
    background-color: #333;
}

a {
    text-decoration: none;
    color: #000000;
}

/* Tela de login */

#esqueci-senha {
    width: 100%;
    max-width: 320px;
    text-align: right;
    margin-top: -5px;
    padding-bottom: 10px;
    align-self: center;
    text-decoration: underline;
    font-size: 15px;
}

#esqueci-senha:hover {
    color: blue;
}

#tela-login {
    height: 90vh; 
}

#acesse-conta {
    margin-bottom: 55px;
}

/* Tela de dados pessoais */

#pagina-dados {
    background-color: #fff;
    color: black;
}

.container-dados {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar-dados-pessoais {
    margin-bottom: 40px;
}

.logo-tela-dados {
    margin: 15px 0px 60px 10px;
    width: 120px;
    display: block;
}

.sidebar-dados {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    margin-bottom: 40px;
    font-size: 18px;
}

.sidebar-dados a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 8px;
    width: fit-content;
}

.sidebar-dados a:hover {
    background-color: rgb(167, 164, 164);
    transition: all 0.5s ease;
    text-decoration: underline;
}

.tela-atual {
    background-color: rgb(222, 217, 217);
}

.tela-atual:hover {
    background-color: rgb(167, 164, 164);
}

.dados-pessoais {
    font-weight: bold;
}

.dados-pessoais h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

.dados-pessoais p {
    color: black;
    margin-top: 10px;
    margin-bottom: 30px;
}

.form-dados {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    background-color: #f0f0f0;
    padding: 15px;
    margin-left: -20px;
    border-radius: 15px;
}

.campo-dados {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 8px;
}

.campo-dados input {
    width: 98%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
}

.botoes-dados {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botao-tipo2 {
    background: none;
    border: 2px solid #000000;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    margin-top: 10px;
    align-self: center;
}

.botao-tipo2:hover {
    background-color: #333;
    color: #ffffff;
}

#botao-excluir {
    border-color: #ff0000;
    color: #ff0000;
    font-weight: bold;
}

#botao-excluir:hover {
    background-color: #ff0000;
    color: #ffffff;
}

/* Tela de alteração de dados pessoais */

#botao-alterar {
    border-color: #2DC75C;
    color: #2DC75C;
    font-weight: bold;
    width: auto;
}

#botao-alterar:hover {
    background-color: #2DC75C;
    color: #ffffff;
}

/* Tela histórico de pacotes */

.historico h1 {
    margin-bottom: 10px;
}

#sub-titulo {
    margin-top: 25px;
}

.historico p {
    margin-bottom: 30px;
}

.lista-historico {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card-historico {
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#card-historico2 {
    margin-top: 100px;
}

.info-historico {
    display: flex;
    flex-direction: column;
}

.info-historico h2 {
    margin-bottom: 35px;
}

.grid-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));    
    gap: 20px 120px; 
    align-items: center;
}

.grid-info p {
    display: contents;
}

.grid-info strong {
    grid-column: 1;
    font-weight: bold;
}

.detalhes {
    text-align: center;
    display: block;
    margin-top: 30px;
    text-decoration: underline;
    cursor: pointer;
}

.detalhes:hover {
    color:#14018fcf
}

.acoes-historico {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
}

.botao-tipo3 {
    background: none;
    border: 2px solid ;
    padding: 15px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s ease;
    margin-top: 10px;
    align-self: center;
    width: 300px;
}

.botao-gerar {
    background-color: #0b8d34;
    color: #ffffff;
    
}

.botao-gerar:hover {
    background-color: #2DC75C;
    color:#ffffff;
    border-color: #209543
}

.botao-cancelar {
    background-color:#bd0a0a;
    color: #ffffff;
    
}

.botao-cancelar:hover {
    background-color: #ff0000;
    color:#ffffff;
    border-color: #af0a0a;
}

/* Responsividade Web */

@media (min-width: 768px) {
    .container-cadastro {
        max-width: 900px;
        grid-template-columns: 1fr 1.4fr;
    }

    .lado-esquerdo {
        border-bottom: none;
        border-right: 1.5px solid #333;
        padding: 30px;
    }

    .logo {
        margin: 0 auto;
    }

    .lado-direito {
        padding: 40px;
    }

    #tela-login {
        height: 70vh;
    }

    .logo-tela-dados {
        margin: 15px 0px 60px 10px;
    }

    .sidebar-dados {
        font-size: 17px;
    }

    .container-dados {
        display: grid;
        grid-template-columns: minmax(180px, 250px) 1fr; 
        gap: 40px;
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px 20px;
    }

    #card-historico2 {
    margin-top: 60px;

    }

    .container-dados h1 {
        margin-top: 5px;
    }

    .container-dados p {
        margin-top: 20px;
    }

    .form-dados {
        grid-template-columns: 1fr 1fr; 
        max-width: 800px;
    }

    #campo-full-width {
        grid-column: 1 / -1; 
    }

    .botoes-dados {
        grid-column: 1 / -1;
        flex-direction: row; 
        justify-content: space-between;
    }

    .botao-tipo2 {
        width: 220px;
        text-align: center;
    }

    .card-historico {
        display: flex;
        flex-direction: column;
        position: relative; 
        padding: 30px 40px;
        border-radius: 15px;
        margin-left: -25px;
    }

    .info-historico h2 {
        margin-bottom: 30px;
    }

    .grid-info {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));    
        gap: 20px 120px; 
        align-items: center;
    }

    .grid-info p {
        display: contents;
    }

    .grid-info strong{
        white-space: nowrap;
        font-weight: bold;
    }

    .detalhes {
        align-self: flex-end; 
        margin-top: 10px;
        text-decoration: underline;
        color: #333;
    }

    .acoes-historico {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        width: 100%;
    }

    .botao-tipo3 {
        width: 220px;
    }

}

